body {
    background-color: #f2f2f2;
}

.proxy-card {
    animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 8px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#footer a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}